.about_div
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:100px 220px 0 220px;
}

.photo{
    height: 250px;
}

@media all and (max-width: 650px) {
.about_div
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:100px 40px 0 40px;
}

}